Repository microsoft/dstoolkit-devcontainers: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, bandit

flake8:
  name: flake8
  description: '`flake8` is a command-line utility for enforcing style consistency across Python projects.'
  entry: flake8
  language: system
  args:
  - --max-line-length=88
  require_serial: true

bandit:
  name: bandit
  description: Bandit is a tool for finding common security issues in Python code
  entry: bandit
  language: system
  require_serial: true
  args:
  - -r
  - --configfile=bandit.yml

docs: Add docs about directory structure and differences between notebooks an… (#3)
  .pre-commit-config.yaml
  README.md
  notebooks/sample_notebook.py
Due: bandit

log loss step
  src/sample_pytorch_gpu_project/aml_example/train.py
Due: flake8, bandit

address review comments
  src/sample_pytorch_gpu_project/aml_example/inference.py
  src/sample_pytorch_gpu_project/aml_example/train.py
Due: flake8, bandit

move train and inference scripts to top level
  src/sample_pytorch_gpu_project/aml_example/aml_components/inference-component.yaml
  src/sample_pytorch_gpu_project/aml_example/aml_components/train-component.yaml
  src/sample_pytorch_gpu_project/inference.py
  src/sample_pytorch_gpu_project/train.py
Due: flake8, bandit

fix pinned req
  src/sample_pytorch_gpu_project/.devcontainer/requirements.txt
Due: none

add comments for use of imagenet normalisation
  src/sample_pytorch_gpu_project/inference.py
  src/sample_pytorch_gpu_project/train.py
Due: flake8, bandit

change context of aml components to src levle
  src/sample_pytorch_gpu_project/aml_example/aml_components/inference-component.yaml
  src/sample_pytorch_gpu_project/aml_example/aml_components/train-component.yaml
Due: none

change context of aml components to src levle
  src/sample_pytorch_gpu_project/aml_example/aml_components/train-component.yaml
Due: none

feat: aml components (#4)
  src/.dockerignore
  src/sample_pytorch_gpu_project/.amlignore
  src/sample_pytorch_gpu_project/.devcontainer/requirements.txt
  src/sample_pytorch_gpu_project/.gitignore
  src/sample_pytorch_gpu_project/aml_example/aml_components/inference-component.yaml
  src/sample_pytorch_gpu_project/aml_example/aml_components/train-component.yaml
  src/sample_pytorch_gpu_project/aml_example/aml_setup/create-cpu-compute.yaml
  src/sample_pytorch_gpu_project/aml_example/aml_setup/create-env.yaml
  src/sample_pytorch_gpu_project/aml_example/aml_setup/create-gpu-compute.yaml
  src/sample_pytorch_gpu_project/aml_example/sample-aml-components-pipeline.yml
  src/sample_pytorch_gpu_project/inference.py
  src/sample_pytorch_gpu_project/train.py
Due: flake8, bandit

fix up some typos and grammar
  README.md
Due: none

change order of sections in main README to be more friendly for new users
  README.md
Due: none

consistent naming
  src/sample_pytorch_gpu_project/README.md
Due: none

consistent naming
  README.md
Due: none

table of contents and fix pylint errors for links
  README.md
Due: none

table of contents
  README.md
Due: none

wip AML readme
  src/sample_pytorch_gpu_project/README.md
Due: none

bump mlflow version for security
  src/sample_pytorch_gpu_project/.devcontainer/requirements.txt
Due: none

add sections to AML readme
  src/sample_pytorch_gpu_project/README.md
Due: none

finish AML example readme
  src/sample_pytorch_gpu_project/README.md
Due: none

flesh out some parts and add prerequisites
  src/sample_pytorch_gpu_project/README.md
Due: none

grammar
  README.md
Due: none

add AML info to top level README
  README.md
Due: none

sample common function used on train.py
  src/common/sample_common.py
  src/sample_pytorch_gpu_project/train.py
Due: flake8, bandit

pip install -e common module
  src/sample_pytorch_gpu_project/.devcontainer/Dockerfile
Due: none

correct mlflow refs in docs
  src/sample_pytorch_gpu_project/README.md
Due: none

title change
  README.md
Due: none

update links to use alt text, short intro section
  README.md
  src/sample_pytorch_gpu_project/README.md
Due: none

add example AML vars to .env.example, update readme based on review comments
  .env.example
  src/sample_pytorch_gpu_project/README.md
Due: none

numbered steps for aml compute setup
  src/sample_pytorch_gpu_project/README.md
Due: none

link to aml readme
  README.md
Due: none

update section ordering
  README.md
Due: none

remove angular brackets from links
  README.md
  src/sample_pytorch_gpu_project/README.md
Due: none

add todo
  README.md
Due: none

feat: aml readme (#7)
  .env.example
  README.md
  src/sample_pytorch_gpu_project/.devcontainer/requirements.txt
  src/sample_pytorch_gpu_project/README.md
Due: none

fix typo bug
  src/sample_pytorch_gpu_project/aml_example/aml_components/train-component.yaml
Due: none

fix wrong aml command
  src/sample_pytorch_gpu_project/README.md
Due: none

ignore model training outputs
  src/.amlignore
  src/.dockerignore
Due: none

update test path so that vscode can recognize these tests
  src/sample_cpu_project/tests/test_dummy.py
  src/sample_pytorch_gpu_project/tests/test_dummy.py
Due: flake8, bandit

fixed the conda path to python as conda is no longer in use
  src/sample_pytorch_gpu_project/.devcontainer/devcontainer.json
Due: none

bugfix: code and docs for AML runs (#9)
  src/.amlignore
  src/.dockerignore
  src/sample_pytorch_gpu_project/README.md
  src/sample_pytorch_gpu_project/aml_example/aml_components/train-component.yaml
Due: none

Path conditions:
  flake8: any of: \.py$, but not: ^notebooks
  bandit: any of: \.py$
